<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery-3.7.0.js"></script>
    <link href="./css/main_style.css" rel="stylesheet">
    <link href="./css/app_style.css" rel="stylesheet"/>
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">MC</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
                <li><a href="#">Đăng nhập</a></li>
            </div>
        </ul>
    </nav>
    <div class="w3-row-padding">
        <div class="w3-col">
            Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.
            Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.
            Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.
            Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.
            Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.
            Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.
            Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.
        </div>
    </div>
    <!--
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li class="services">
        <a href="#">Services</a>
        <ul class="dropdown">
            <li><a href="#">Dropdown 1 </a></li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
        </ul>
    </li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Contact</a></li>
    -->
</body>
</html>